/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Kubernetes + GPU profile for bindflow
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Notes:
    - This profile is intended for Kubernetes clusters with NVIDIA device plugin enabled.
    - Use an OCI image tag for --bindcraft_container when running on k8s.
    - Set --k8s_storage_claim to a RWX PVC shared by all pods.
----------------------------------------------------------------------------------------
*/

params {
    config_profile_name        = 'Kubernetes + GPU'
    config_profile_description = 'Kubernetes executor tuned for GPU-backed BINDCRAFT tasks'
}

k8s {
    namespace      = params.k8s_namespace
    serviceAccount = params.k8s_service_account
    pullPolicy     = params.k8s_pull_policy
    runAsUser      = 1000
}

if( params.k8s_storage_claim ) {
    k8s.storageClaimName = params.k8s_storage_claim
    k8s.storageMountPath = params.k8s_storage_mount
}

process {
    executor = 'k8s'
    queueSize = params.gpu_parallel_tasks as int

    withName: 'JSONMANAGER' {
        cpus   = 1
        memory = 2.GB
        time   = 1.h
    }

    withName: 'RANKER' {
        cpus   = 1
        memory = 2.GB
        time   = 1.h
    }

    withName: 'BINDCRAFT' {
        cpus   = 8
        memory = 32.GB
        time   = 24.h
        accelerator = params.gpu_per_task as int
        maxForks = params.gpu_parallel_tasks as int
    }
}

docker.enabled       = false
apptainer.enabled    = false
singularity.enabled  = false
podman.enabled       = false
conda.enabled        = false
charliecloud.enabled = false
shifter.enabled      = false
